extends layout

block content
    a.card(href="/turn?choice=rock")
    a(href="/turn?choice=rock") rock
    img(src="/images/rock-paper-scissors-icon-16.jpg")
    a(href="/turn?choice=paper") paper
    img(src="/images/rock-paper-scissors-icon-2.jpg")
    a(href="/turn?choice=scissors") scissors
    img(src="/images/rock-paper-scissors-icon-5.jpg")